{% extends "admin/dashboard_base.html" %}

{% block extrahead %}
<!-- Theme included stylesheets -->
<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
<!-- Main Quill library -->
<script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Write Something</h3>
                <div class="block-options">
                    <button type="button" id="save" class="btn btn-sm btn-dark">Save</button>
                    <button type="button" id="publish" class="btn btn-sm btn-success">Publish</button>
                </div>
            </div>
            <div class="block-content">
                <form>
                    <div class="form-group">
                        <input type="text" id="messageTitle" class="form-control" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <div id="editor"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "components/modals.html" %}
{% endblock %}

{% block extrafooter %}
<script>
    $(function() {
        console.log($)
        var quill = new Quill('#editor', {
        modules: {
            toolbar: [
                [{ 'header': [] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{ 'font': [] }],
                ['image']
            ]
        },
        placeholder: 'What\'s good?',
        theme: 'snow'
        });

        quill.setText('{% autoescape off %}{{draft.text}} {% endautoescape %}')

        function getCurrentTitle(){
            return $('input[id="messageTitle"]').val()
        }

        function getMessageBody(){
            return quill.root.innerHTML
        }

        function displayErrorModal(err){
            $('div[id="error-content"]').html(err)
            $('div[id="modal-block-error"]').modal('show')
        }

        function displaySuccessModal(msg){
            $('div[id="success-content"]').html(msg)
            $('div[id="modal-block-success"').modal('show')
        }

        $('button[id="save"]').on('click', function(){
            var title = getCurrentTitle()
            var body = getMessageBody()
            var CSRF_TOKEN = '{{ csrf_token }}';
            if (body === "<p><br></p>") { //this is an empty editor in quill.js
                displayErrorModal("Cannot save an empty message")
                return
            }
            $.post('/portal/save/message', { 'content': body, 'csrfmiddlewaretoken': CSRF_TOKEN, 'id': '{{draft.id}}'} )
                .then(function(res){
                    displaySuccessModal("Message saved in Drafts folder")
                })
                .catch(function(err){
                    console.log(err)
                    if (err.statusCode === 404) {
                        displayErrorModal("API endpoint not found")
                    }
                    if (err.statusCode === 500) {
                        displayErrorModal("System Error")
                    }
                    
                })
        });

        $('button[id="publish"]').on('click', function(){
            var title = getCurrentTitle()
            var body = getMessageBody()
        })
    });


</script>
{% endblock %}