<div class="block">
    <div class="block-header">
        <h3 class="block-title">Title <small>via Username</small> </h3>
        <div class="block-options"><small>Oct 1, 2020 3:30pm</small></div>
    </div>
    <div class="block-content">
        <img class="img-fluid mb-2" src="{% static 'photo10.jpg' %}" />
        <p>Potenti elit lectus augue eget iaculis vitae etiam, ullamcorper etiam bibendum ad feugiat magna accumsan dolor, nibh molestie cras hac ac ad massa, fusce ante convallis ante urna molestie vulputate bibendum tempus ante justo arcu erat accumsan adipiscing risus, libero condimentum venenatis sit nisl nisi ultricies sed, fames aliquet consectetur consequat nostra molestie neque nullam scelerisque neque commodo turpis quisque etiam egestas vulputate massa, curabitur tellus massa venenatis congue dolor enim integer luctus, nisi suscipit gravida fames quis vulputate nisi viverra luctus id leo dictum lorem, inceptos nibh orci.</p>

    </div>
</div>